.kadane-container {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.subtitle {
  color: #bbb;
  margin-bottom: 20px;
}

.array-boxes {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.array-box {
  background-color: #b50c0c;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 15px;
  width: 70px;
  transition: 0.3s ease;
}

.array-box.highlight {
  background-color: #00bcd4;
  transform: scale(1.1);
}

.controls {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls input {
  padding: 8px;
  border-radius: 6px;
  border: none;
  width: 300px;
}

.controls button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #00bcd4;
  color: #fff;
  transition: 0.3s;
}

.controls button:hover {
  background-color: #0097a7;
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
}

.info {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
}

.info table {
  margin: 10px auto;
  border-collapse: collapse;
  width: 70%;
  color: #ddd;
}

.info th, .info td {
  border: 1px solid #555;
  padding: 10px;
}

pre {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
}
